<h1>新規ユーザー登録</h1>

<div id="error_explanation">
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</div>

<%= form_for(@user, url: users_path) do |f| %>
  <%= f.label :name, "ユーザー名" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, "パスワード（確認用）" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.submit "ユーザー登録", class: "btn btn-primary" %>
<% end %>
