<h1>プロフィール</h1>
<%= render 'user_info', user: @user %>

<ul class="post-tabs">
  <% if request.original_url == user_url(@user) %>
    <li class="active"><%= link_to "投稿", user_path(params[:id]) %></li>
    <li><%= link_to "いいね", like_posts_user_path(params[:id]) %></li>
  <% else %>
    <li><%= link_to "投稿", user_path(params[:id]) %></li>
    <li class="active"><%= link_to "いいね", like_posts_user_path(params[:id]) %></li>
  <% end %>
</ul>

<% @posts.each do |post| %>
  <%= render post %>
<% end %>

<%= will_paginate @posts, previous_label: "&lt 前へ", next_label: "次へ &gt" %>
