<% if current_user.nil? %>
  <h1 class="title">最近の投稿</h1>

  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <%= will_paginate @posts, previous_label: "&lt 前へ", next_label: "次へ &gt" %>
<% else %>
  <h1 class="title">タイムライン</h1>
  <%= render 'users/user_info', user: current_user %>

  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <%= will_paginate @posts, previous_label: "&lt 前へ", next_label: "次へ &gt" %>
<% end %>
