<h1>ホーム画面</h1>
<% unless current_user.nil? %>
  <%= link_to "#{@user.following.count} following", following_user_path(@user.id) %>
  <%= link_to "#{@user.followers.count} followers", followers_user_path(@user.id) %>

  <%= @user.name %>
  <%= image_tag @user.image.variant(resize_to_limit: [100,100]) if @user.image.attached? %>

  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <%= will_paginate @posts, previous_label: "&lt 前へ", next_label: "次へ &gt" %>
<% end %>
