<div id="error_explanation">
  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<%= form_for(@post) do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :content, "紹介文" %>
  <%= f.text_area :content, class: "form-control" %>

  <%= f.label :picture_url, "画像のURL" %>
  <%= f.text_field :picture_url, class: "form-control" %>

  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
