<h1>新規投稿</h1>

<div class="form">
  <%= form_with(model: @post, local: true) do |f| %>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :content, "紹介文" %>
    <%= f.text_area :content, class: "form-control" %>

    <%= f.label :picture_url, "画像のURL" %>
    <%= f.text_field :picture_url, class: "form-control" %>

    <%= f.submit "投稿", class: "btn" %>
  <% end %>
</div>
