<header>
  <div class="container">
    <%= link_to "Comic Mate", root_path  %>
    <ul>
      <% if current_user.nil? %>
        <li><%= link_to "新規登録", new_user_path %></li>
        <li><%= link_to "ログイン", new_session_path %></li>
      <% else %>
        <li><%= link_to "新規投稿", new_post_path %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li><%= link_to "プロフィール", user_path(current_user) %></li>
        <li><%= link_to "ユーザー情報の更新", edit_user_path(current_user) %></li>
        <li><%= link_to "ログアウト", session_path(current_user), method: :delete %></li>
      <% end %>
    </ul>
  </div>
</header>
