<header>
  <div class="container">
    <%= link_to "Comic Mate", root_path  %>
    <ul>
      <li><%= link_to "新規登録", "#" %></li>
      <li><%= link_to "ログイン", "#" %></li>
      <li><%= link_to "新規投稿", "#" %></li>
      <li><%= link_to "ユーザー一覧", "#" %></li>
      <li><%= link_to "プロフィール", "#" %></li>
      <li><%= link_to "ユーザー情報の変更", "#" %></li>
      <li><%= link_to "ログアウト", "#" %></li>
    </ul>
  </div>
</header>
